/*************************/
/* Styling Header */
/*************************/
header{ 
	
	overflow: hidden; 
} 

#top-header{ 
		
	text-align: center; 
	height: 70px; 
} 

/****************/	
/* Styling Logo */
/****************/
#logo{ 
	float: left; 
	padding: none; 
	margin: none; 
	height: 70px; 
	width: 30%; 
} 

#logo img{ 
	width: 60%; 
	float: left; 
	padding: 10px 0px; 
}	 

/***************************/
/* Styling Navigation Menu */
/***************************/
#menu{ 
	float: right; 
	width: 70%; 
	height: 100%; 
	margin: none; 
} 
	
#menu ul{ 
	text-align: center; 
	float: right; 
	margin: none; 
	background: #0074D9; 
} 
	
#menu li{ 
	display: inline-block; 
	padding: none; 
	margin: none; 
} 
	
#menu li a, #menu li span{ 
	display: inline-block; 
	padding: 0em 1.5em; 
	text-decoration: none; 
	font-weight: 600; 
	text-transform: uppercase; 
	line-height: 60px; 
} 
	
#menu li a{ 
		
	color: #FFF; 
} 
	
#menu li:hover a, #menu li span{ 
	background: #FFF; 
	color: #0074D9; 
	border-left: 1px solid #0074D9; 
	text-decoration: none; 
} 

/*****************************/
/* Styling Header Image Menu */
/*****************************/
#header-image-menu{ 
	top: 10px; 
	position: relative; 
} 

#header-image-menu img{ 
	width: 100%; 
	margin: none; 
	padding: none; 
} 

#image-text{ 
	position: absolute; 
	top: 60%; 
	left: 60%; 
	font-family: 'Roboto'; 
	color: #000; 
	transform: translate(-30%, -30%); 
	text-align: center; 
} 

/**********************************/
/* Styling Main content Section 1 */
/**********************************/
#welcome 
{ overflow: hidden; 
	width: 1000px; 
	margin: 0px auto; 
} 
		
#welcome .title{ 
	margin-top: 20px; 
	padding: 20px; 
	text-align: center; 
} 

#welcome p{ 
	margin-bottom: 40px; 
	text-align: center; 
} 
